packages/
RxConnect/bin/
RxConnect/obj/
RxConnect.Tests/obj/
RxConnect.Tests/bin/
*.user
*.suo
SexyReact.Tests/bin/
SexyReact.Tests/obj/
SexyReact.Fody.Helpers.Net45/bin/
SexyReact.Fody.Helpers.Net45/obj/
SexyReact.Fody/bin/
SexyReact.Fody/obj/
SexyReact.Tester/bin/
SexyReact.Net45/obj/
SexyReact.Net45/bin/
SexyReact.Tester/obj/
*.nupkg
SexyReact.Ios/obj/
nuget/artifacts/
